* {
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
}

h2 {
    font-size: 24px;
    margin-bottom: 10px;
}

h3 {
    font-size: 18px;
}

h4 {
    font-size: 16px;
}

h5 {
    font-size: 14px;
}

#cabecalho {
    background-color: #3183fe;
    color: #fff;
    padding: 20px;
    text-transform: uppercase;
}

#cabecalho-principal {
    display: flex;
    justify-content: space-between;
}

#cabecalho-principal #container-central {
    text-align: center;
}

#cabecalho-principal .fas {
    font-size: 20px;
}

.btn {
    background-color: unset;
    border: 0;
    cursor: pointer;
}

.btn-redondo {
    border-radius: 50%;
    padding: 4px 9px;
}

#cabecalho .btn {
    color: #fff;
}

#cabecalho .btn-redondo {
    background-color: #2178e3;
}

