<header id="cabecalho">
    <section id="cabecalho-principal">
        <div id="container-esquerdo">
            <i class="fas fa-bars"></i>
        </div>
        <div id="container-central">
            <h5 class="ofuscado">Saldo atual</h5>
            <h2 id="saldo"></h2>
            <h4>
                <button class="btn btn-redondo">
                    <i class="fas fa-caret-left"></i>
                </button>
                Maio
                <button class="btn btn-redondo">
                    <i class="fas fa-caret-right"></i>
                </button>
            </h4>
        </div>
        <div id="container-direito">
            <i class="fas fa-cog"></i>
        </div>
    </section>
    <section id="cabecalho-conteudo">
        <div id="progresso-principal">
        </div>
        <div id="progresso-categoria">
        </div>
        <div id="visao-geral">
        </div>
    </section>
</header>