* {
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
}

h2 {
    font-size: 24px;
    margin-bottom: 10px;
}

h3 {
    font-size: 18px;
}

h4 {
    font-size: 16px;
}

h5 {
    font-size: 14px;
}

#cabecalho {
    background-color: #318efe;
    color: #fff;
    padding: 20px;
    text-transform: uppercase;
    position: sticky;
    left: 0;
    top: 0;
    z-index: 999;
}

#cabecalho .btn {
    color: #fff;
}

#cabecalho .btn-redondo {
    background-color: #2178e3;
}

#cabecalho-conteudo {
    background-color: #318efe;
    padding: 0 20px;
    display: flex;
    flex-direction: column;
    color: #fff;
    text-transform: uppercase;
}

#cabecalho-principal {
    display: flex;
    justify-content: space-between;
}

#cabecalho-principal .container-central {
    text-align: center;
}

#cabecalho-principal .container-direito {
    display: flex;
    justify-content: space-between;
}

#cabecalho-principal .container-direito #user-info p {
    text-transform: none;
    font-size: 0.9em;
    padding-top: 5px;
}

#cabecalho-principal .container-direito .fas{
    padding: 5px;
}

#cabecalho-principal .fas {
    font-size: 20px;
    color: #fff;
}

.btn {
    background-color: unset;
    border: 0;
    cursor: pointer;
}

.btn-redondo {
    border-radius: 50%;
    padding: 4px 9px;
}

.texto-grande {
    font-size: 18px;
    font-weight: bold;
}

progress[value] {
    width: 100%;
    height: 20px;
    border-radius: 10px;
    background-color: #2178e3;
    color: #fff;
    margin: 5px 0 25px;
    border: 0;
}

progress[value]::-webkit-progress-bar {
    background-color: #2178e3;
    border-radius: 10px;
}

progress[value]::-moz-progress-bar {
    background-color: #fff;
    border-radius: 10px;
}

progress[value]::-webkit-progress-value {
    background-color: #fff;
    border-radius: 10px;
}

#progresso-principal,
#progresso-categoria {
    flex: 2;
    padding: 5px;
}

#visao-geral-numeros {
    flex: 1;
    padding: 5px;
}

#visao-geral .visao-geral-container {
    padding: 10px;
}

.ofuscado {
    opacity: 0.8;
}

#transacoes-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 10px 20px;
}

#transacoes-container .coluna-conteudo {
    flex: 1;
}

.tabela-transacoes {
    width: 100%;
}

.tabela-transacoes td {
    padding: 10px 0;
    border-bottom: 1px solid #ccc;
    color: #4b4b4d;
    font-weight: 600;
}

.tabela-transacoes td.coluna-descricao-transacao {
    padding-left: 30px;
}

.tabela-transacoes td.coluna-descricao-transacao p {
    font-size: 0.7em;
    opacity: 0.8;
    margin-top: 3px;
}

.tabela-transacoes td.coluna-valor-transacao {
    text-align: right;
}

.tabela-transacoes td.coluna-data {
    border: 0;
    padding-bottom: 0;
}

#receitas {
    margin-top: 20px;
}

#receitas .tabela-transacoes td.coluna-valor-transacao {
    color: #4ab24a;
}

#despesas .tabela-transacoes td.coluna-valor-transacao {
    color: #d01f1f;
}

#receitas .form-container,
#despesas .form-container {
    display: none;
}

.form-container {
    margin-top: 20px;
    padding: 10px;
    border-bottom: 1px solid #ccc;
}

.form-container .titulo-form {
    font-weight: 600;
    opacity: 0.5;
    margin-bottom: 10px;
}

.form {
    display: flex;
    flex-direction: column;
}

.form.inline {
    flex-direction: row;
}

.form-inline-container {
    display: flex;
    flex-direction: column;
}

.form-inline-container *:not(:last-child) {
    margin-bottom: 10px;
}

.linha-form {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    margin-bottom: 10px;
}

.linha-form label {
    margin-bottom: 2px;
}

.linha-form label,
.linha-form select {
    font-size: 0.9em;
}

.form button {
    background-color: #2178e3;
    border: 0;
    color: #fff;
    padding: 5px 10px;
    border-radius: 3px;
}

.botao-flutuante {
    border: 0;
    background-color: #2178e3;
    border-radius: 50%;
    padding: 10px 14px;
    font-size: 28px;
    color: #fff;
    position: fixed;
    bottom: 20px;
    right: 20px;
}

.titulo-centralizado {
    text-align: center;
}

.botao-branco {
    background-color: #fff;
    border: 0;
    color: #2178e3;
    padding: 5px 10px;
    border-radius: 3px;
}

.modal {
    display: none;
    position: fixed;
    z-index: 9999;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgb(0,0,0);
    background-color: rgba(0,0,0,0.4);
}
  
.close {
    color: #fff;
    float: right;
    font-size: 28px;
    font-weight: bold;
}
  
.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

.modal-header {
    padding: 8px 20px;
    background-color: #2178e3;
    color: white;
}

.modal-header h2 {
    margin: 0;
}
  
.modal-body {
    padding: 15px 20px;
    padding-top: 100px;
}

.modal-footer {
    padding: 8px 20px;
    background-color: #2178e3;
    color: white;
}

.modal-content {
    position: relative;
    background-color: #fefefe;
    margin: auto;
    padding: 0;
    border: 1px solid #888;
    width: 100%;
    height: 100%;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
    animation-name: animatetop;
    animation-duration: 0.4s
}
  
/* Add Animation */
@keyframes animatetop {
    from {top: -300px; opacity: 0}
    to {top: 0; opacity: 1}
}

#form-login input {
    font-size: 1.1em;
    padding: 5px;
}

#form-login label {
    font-size: 1.1em;
}

#form-login .btn {
    font-size: 1.1em;
    padding: 8px 16px;
}

#form-login .form-inline-container {
    justify-content: flex-end;
}

@media only screen and (min-width: 576px) {}

@media only screen and (min-width: 768px) {
    #cabecalho {
        position: relative;
        z-index: 1;
    }
    #cabecalho-conteudo {
        flex-direction: row;
        padding: 0 50px;
    }
    #transacoes-container {
        flex-direction: row;
        padding: 10px 50px;
    }
    .form-inline-container {
        flex-direction: row;
    }
    .form-inline-container *:not(:last-child) {
        margin-right: 10px;
        margin-bottom: 0;
    }
    #receitas .form-container,
    #despesas .form-container {
        display: block;
    }
    .form.inline .linha-form:not(:last-child) {
        margin-right: 15px;
    }
    .botao-flutuante {
        display: none;
    }
    #conteudo .coluna-conteudo:first-child {
        margin-right: 50px;
    }
    #receitas {
        margin-top: 0;
    }

    .modal-content {
        width: 520px;
        height: auto;
    }

    .modal {
        padding-top: 100px;
    }

    .modal-body {
        padding: 15px 20px;
    }
}

@media only screen and (min-width: 992px) {}

@media only screen and (min-width: 1200px) {}